{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
	<a class="navbar-brand" href="/depart/info"><strong>用户管理系统</strong></a>
	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse" id="navbarColor02" style="">
		<ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item">
			<a class="nav-link" href="/admin/info/">管理员管理 </a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/depart/info/">部门管理 </a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/user/info/">用户管理</a>
			</li>
            <li class="nav-item">
			<a class="nav-link" href="/pretty/info/">靓号管理</a>
			</li>
		</ul>
	</div>
</div>

<div>
    <div content="container">
        <div>
            <a href="/depart/add/" class="btn btn-success">添加部门</a>
        </div>

        <div>
            <div>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                部门列表
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                             ID
                        </th>
                        <th scope="col">
                             部门名称
                        </th>
                        <th scope="col">
                             操作
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for obj in queryset %}
                         <tr>
                        <th >
                             {{ obj.id }}
                        </th>
                        <td>
                             {{ obj.title }}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/depart/{{ obj.id }}/edit/">修改</a>
                            <a class="btn btn-danger btn-xs" href="/depart/delete/?nid={{ obj.id }}">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{% static 'depart_info.html' %}"></script>
<script src="{% static 'plugins/bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>